<div class="command-reference">
  <h3>Command Reference</h3>
  <hr/>
  <table class="command-table">
  {{#each this}}
    <tr class="command">
      <td class="command-keys">{{keys}}</td>
      <td class="command-description">{{description}}</td>
    </tr>
  {{/each}}
  </table>
</div>