<div class="switch-info">
  <div class="truncate">
    <h3 class="switch-info-name">{{name}}</h3>
  </div>
  <hr/>
  <div class="switch-info-phase">
    <span class="phase-name phase-color-{{phaseId}}">{{phaseName phaseId}}</span>
  </div>
  <p class="switch-info-description">{{description}}</p>
</div>