<a class="row-flex {{indicator}}" tabindex="1">
  <div class="switch-status"></div>
  <div class="truncate switch-name-block">
    <span class="switch-name">{{name}}</span>
  </div>
  <div class="status-flipper"><span class="glyphicon glyphicon-off"></span></div>
</a>
